.rating-container {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.stars {
  display: flex;
}

.star {
  display: block;
  height: 36px;
  width: 36px;
  cursor: pointer;
}
.rating-num {
  font-size: 18px;
  color: #fcc419;
}
